<div class="relative z-50 flex flex-col items-center justify-center w-full h-screen">
    @if(!showMessage){
        <form class="flex flex-col w-full max-w-xs p-10 mx-auto rounded-lg lg:py-14 lg:max-w-sm bg-white/60">
            @if(errorStatus){
                <div class="w-full">
                    <p class="w-full p-2 mb-4 text-center text-white bg-red-600 rounded-md">{{errorMessage}}</p>
                </div>
            }
            <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Tu email</label>
            <input
                    [(ngModel)] = 'email'
                    type="email"
                    id="email"
                    name="email"
                    (blur)="validateEmail(email)"
                    class="bg-gray-100 border border-gray-300 text-gray-900 text-center rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="tucorreo@correo.com"
                    required
            >
            </div>
            <button
                    (click)="resetPassword(email)"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 uppercase tracking-wider">
                    Recuperar contraseña
            </button>
        </form>
    } @else {
        <div class="flex flex-col p-6 rounded-md gap-y-4 bg-white/60">
            <h2 class="text-2xl text-center">¡Solictud enviada!</h2>
            <p class="text-xl text-center">Revisa tu correo electronico para reestablecer tu contraseña.</p>
        </div>
    }
    <div class="absolute w-full h-screen -z-10 bg-gradient-to-b from-pink-800/50 via-slate-900/50 to-slate-950/90"></div>
    <div class="absolute w-full h-screen overflow-hidden -z-50">
      <video autoplay loop muted playsinline class="absolute top-0 left-0 object-cover w-full h-full">
        <source src="../../../assets/video/video-uptask.mp4" type="video/mp4">
        <source src="../../../assets/video/video-uptask.ogg" type="video/ogg">
        <source src="../../../assets/video/video-uptask.webm" type="video/webm">
      </video>
    </div>
</div>